VITE_SUPABASE_URL=https://qvxgdarfzhoxmfujdrij.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_MuEAEzSmTaYAZngVY0t_3A_R3BDRb6e
VITE_SUPABASE_ANON_KEY=sb_publishable_MuEAEzSmTaYAZngVY0t_3A_R3BDRb6e
VITE_API_URL=https://campusos-api.onrender.com/api

